<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <h1>Contact Vittal</h1>
    </header>
    <main>
        <section>
            <p><strong>Email:</strong> <a href="mailto:huggiv@gmail.com">huggiv@gmail.com</a></p>
            <p><strong>Mobile:</strong> (+91) 8722198491</p>
            <p><strong>Social Link:</strong> <a href="https://www.linkedin.com/in/vittalhuggi-b483638a/" target="_blank">LinkedIn Profile</a></p>
        </section>
    </main>
</body>
</html>
